.button
{
/* font-family: Arial, Helvetica, sans-serif; color: navy; */
width: 250px;


}


.border_2{

border: 10% solid black;
height: 1000px;
width: 1500px;
}
section{
    display: block;
}

h1,p{
    text-align: center;
    
}
#Border{
    color: green;
    height: 50%;
    widows: 50%;;
    border: dashed grey;
    align-items: center;

}
#Content{
    color: blueviolet;
    height: 300px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 600px;
    padding: 2%;
    background-color: rgb(134, 134, 48);   
     
}

