.button
{
    width: 250px;
    background-color: #333333;
 }
.navmenu
{
    background-color: #333333;
    overflow: hidden;
    
   }
.navmenu a
{

float: left;
display: block;
color: aliceblue;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
button:hover
{
    color: yellow;
    background-color: #6a6a6a;
}
#Content{
    color: blueviolet;
    height: 300px;
    width: 300px;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 600px;
    padding: 2%;
    background-color: rgb(red, green, blue);
}